html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/*Main layout styling*/
body {
    display: grid;
    grid-template-rows: 4rem 1fr 2rem;
    height: 100vh;
    background-color: #fafafa;
    color: #262626;
}

main {
    height: calc(100vh - 6rem);
    background-color: #e2e8f0;    
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 5px rgba(203, 213, 225, 0.5);
    z-index: 1;
}

h1 {
    font-size: 3rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -10px 5px rgba(203, 213, 225, 0.5);
    z-index: 1;
}

/*end main layout styling*/

/*gameboard styling*/
main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.gameboard {
    background-color: #60a5fa;
    width: 600px;
    height: 600px;  
    border-radius: 20px; 
    box-shadow: 5px 5px 5px rgba(193, 203, 215, 0.6), -5px -5px 5px rgba(193, 203, 215, 0.6);
    z-index: 1;
    padding: 15px;

    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 15px;
}
.player-label {
    font-size: 2rem;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 30px;
}

.player-one-result, .player-two-result {
    grid-area: 1 / 1 / 2 / 3;
    background-color: #60a5fa;
    color: #fafafa;
    padding: 1rem;
    border-radius: 20px;
    /*be invisible by default*/
    z-index: -1;
}



.game-square {
    background-color: #fafafa;
    padding: 1.8rem;
    font-size: 8rem;
    text-align: center;
}

.game-square:hover {
    background-color: #e5e5e5;
}

.game-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-game {
    margin-bottom: 2rem;
    height: 4rem;
    width: 15rem;
    font-size: 2rem;
    background-color: #60a5fa;
    color: #fafafa;
    border: none;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(193, 203, 215, 0.6), -5px -5px 5px rgba(193, 203, 215, 0.6);
}

.new-game:hover {
    background-color: #3b82f6;
    cursor: pointer;
}
/*end gameboard styling*/

/***New Book Menu Styling***/

.gray-out {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
    
    /*do not show by default. script.js changes to 'block' when should be visible*/
    display: block;
    
}
.new-game-wrapper {
    height: 400px;
    width: 350px;
    background-color: #e2e8f0;
    border-radius: 20px;
    padding: 25px;
    
    position:fixed;
    top: 250px;
    left: calc(50% - 200px);
    z-index:3;
    
}

.new-game-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
}

.new-game-form input {
    height: 2rem;
    width: 80%;
    border: none;
}

#is-read {
    width: 20px;
}

.status-wrapper {
    display: flex;
    align-items: center;
}

form button {
    font-size: 1.5rem;
    width: 10rem;
    height: 2.5rem;
    background-color: #3b82f6;
    border: none;
    border-radius: 20px;
    color: #fafafa;
}

form > div.form-title {
    font-size: 2rem;
    font-weight: bold;
}

form input {
    border-radius:8px;
    padding-left: 10px;
    height: 2rem;
    font-size: 1.5rem;
}

form input::placeholder {
    font-size: 1.25rem;
}

form button:hover {
    border: 1px black solid;
    cursor: pointer;
}


/***End new book styling***/