html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/*Main layout styling*/
body {
    display: grid;
    grid-template-rows: 4rem 1fr 2rem;
    height: 100vh;
    background-color: #fafafa;
    color: #262626;
}

main {
    height: calc(100vh - 6rem);
    background-color: #e2e8f0;    
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 5px rgba(203, 213, 225, 0.5);
    z-index: 1;
}

h1 {
    font-size: 3rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -10px 5px rgba(203, 213, 225, 0.5);
    z-index: 1;
}
/*end main layout styling*/

/*gameboard styling*/
main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.gameboard {
    background-color: #60a5fa;
    width: 600px;
    height: 600px;  
    border-radius: 20px; 
    box-shadow: 5px 5px 5px rgba(193, 203, 215, 0.6), -5px -5px 5px rgba(193, 203, 215, 0.6);
    z-index: 1;
    padding: 15px;

    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 15px;
}
.player-label {
    font-size: 2rem;
    display: flex;
}

.game-square {
    background-color: #fafafa;
    padding: 2rem;
    font-size: 8rem;
    text-align: center;
}

.game-square:hover {
    background-color: #e5e5e5;
}
/*end gameboard styling*/
